
*{
	padding: 0px;
	margin: 0px;
  font-family: "consolas", regular;

}
html
{
  overflow-x:hidden;
}

body{
	background: linear-gradient(90deg, rgba(187,99,173,1) 0%, rgba(121,200,233,1) 100%);
	height: 3000px;
}

.menu, .menu ul, .menu li, .menu a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.menu {
  height: 40px;
  width: 100%;
  background-color: black;
}

.menu li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.menu a {
  display: block;
  padding: 0 16px;
  margin: 6px 0;
  line-height: 28px;
  text-decoration: none;
  
  font-family:"Consolas", Regular;
  font-weight: bold;
  font-size: 13px;
  color: #fff;

  /*border-left: 1px solid #393942 white;
  border-right: 1px solid #4f5058 white;*/
  transition: color .2s ease-in-out;
}
/*
.menu li:first-child a {border-left: none;}
.menu li:last-child a {border-right: none;}
.menu li:hover > a {color: #0C0}
*/
.menu li:hover > a {color: mediumpurple;}


.menu ul {
  position: absolute;
  top: 40px;
  left: 10px;
  
  opacity: 0;
  background: #222;
  
  border-radius: 0 0 5px 5px;
  transition: opacity .20s ease .1s;
}

.menu li:hover > ul {opacity: 1;}

.menu ul li {
  height: 0;
  overflow: hidden;
  padding: 0;
  
  transition: height .25s ease .1s;
}

.menu li:hover > ul li {
  height: 36px;
  overflow: visible;
  padding: 0;
}

.menu ul li a {
  width: 130px;
  padding: 4px 10px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #353539;
}
.menu ul li:last-child a { border: none; }

#contenido{
	height: 100vh;
	box-sizing: border-box;
	border: 1px solid black ;
}

.hero-image {
 background-image: url("Venus.jpg");
 background-color: #cccccc;
 height: 100vh;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.imagencentro img
{ 

  width: 100vw;
  height: 100vh;
}

.introproductos 
{
  border: 1px solid black;
  width:  100%;
  background: black;
}
.introproductos h1{
  font-size: 50px;
  text-align: center;
  color: white;
}
.textointro
{
    font-family:"Consolas", Regular;
  position: absolute;
  top: 235px;
  left: 350px;
  height: 60%;
  width: 50%;
  transform: translate(-50%, -15%);
  color: black;
}
.textointro h1{
  font-size:50px ; 
  color:white;
}
.textointro h3{
  color:lightblue;
  font-size:36px;
}

.CajitasP
{
  margin: 10px;
  border: 1px solid white;
  width: vw;
  background:rgba(0,0,0,.2);
}
.CajitasP img{
  padding: 10px;
  font-size: 10px;
  text-align: center;
  height: 500px;
  width: 31.3%;
}
.LompasC
{
  margin: 10px;
  border: 1px solid white;
  width:  100px;
  opacity: 50%;
  background:rgba(0,0,0,.2);
}
.LompasC img{
  padding: 10px;
  font-size: 10px;
  text-align: center;
  height: 500px;
  width: 31.3%;
}
body{
  background-color: lightgrey;
  font-family: sans-serif;
}
.prod1 div
{
  border: 1px solid black;
  width:  100%;
  background: black;
  position: relative;
  z-index: 0;
}
.prod1 img
{
  z-index: 1;
  position: relative;

}